.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background-color: #000053;
    opacity: 0.85;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2px;
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav .nav-link {
    margin: 0 10px;
    transition: color 0.3s ease;
}

.nav-link {
    position: relative;
    color: white;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.active-link::after {
    width: 100%;
}

.btn-contacto {
    background-color: #FE9900;
}