@import url('https://fonts.googleapis.com/css?family=Lobster');

.font-lobster {
    font-family: 'Lobster', cursive;
}

:host {
    display: block;
    --level-1-height: 180px;
    --level-1-width: 270px;
    --level0-height: 230px;
    --level0-width: 430px;
    --level-1-left: 740px;
    --level0-left: 285px;
    --level1-left: -10px;
}

.contenedor-carusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 400px;
    padding: 2rem;
    background: url("/imagenes-3d/imagen-fondo-carrusel.png") center/cover no-repeat;
}

#carousel {
    position: relative;
    height: 200px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    cursor: pointer;
    color: #228291;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.arrow:hover {
    transform: translateY(-50%) scale(1.15);
    background-color: white;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: -50px;
}

.item {
    position: absolute;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
}

.level-1 {
    height: var(--level-1-height);
    width: var(--level-1-width);
    left: var(--level-1-left);
    margin-top: 20px;
    z-index: 1;
    transform: rotateY(-35deg) scale(0.85);
    opacity: 0.8;
}

.level0 {
    height: var(--level0-height);
    width: var(--level0-width);
    left: var(--level0-left);
    z-index: 3;
    transform: rotateY(0deg) scale(1);
    opacity: 1;
}

.level0:hover {
    transform: rotateY(0deg) scale(1.03);
}

.level1 {
    height: var(--level-1-height);
    width: var(--level-1-width);
    margin-top: 20px;
    left: var(--level1-left);
    z-index: 1;
    transform: rotateY(35deg) scale(0.85);
    opacity: 0.8;
}

@media (max-width: 1024px) {
    :host {
        --level-1-height: 150px;
        --level-1-width: 220px;
        --level0-height: 190px;
        --level0-width: 350px;
        --level-1-left: 545px;
        --level0-left: 211px;
        --level1-left: 0px;
    }

    #carousel {
        height: 180px;
        max-width: 90vw;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .arrow-left {
        left: -35px;
    }

    .arrow-right {
        right: -35px;
    }
}

@media (max-width: 768px) {
    :host {
        --level-1-height: 120px;
        --level-1-width: 160px;
        --level0-height: 160px;
        --level0-width: 240px;
        --level-1-left: calc(50% + 100px);
        --level0-left: calc(50% - 139px);
        --level1-left: calc(50% - 300px);
    }

    #carousel {
        height: 160px;
        max-width: 95vw;
    }

    .arrow {
        width: 35px;
        height: 35px;
    }

    .arrow-left {
        left: 5px;
    }

    .arrow-right {
        right: 5px;
    }
}

@media (max-width: 480px) {
    :host {
        --level-1-height: 90px;
        --level-1-width: 120px;
        --level0-height: 110px;
        --level0-width: 180px;
        --level-1-left: calc(50% + 90px);
        --level0-left: calc(50% - 90px);
        --level1-left: calc(50% - 220px);
    }

    #carousel {
        height: 130px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }
}